* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 241, 237);
}

/* Style the header */
header {
    background-color: rgb(163, 224, 187);
    padding: 5px 400px 10px 10px;
    /*text-align: center;*/
    font-size: 35px;
    color: white;
    margin: 0px 0px 0px 0px
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 500px; 
    background: rgb(191, 196, 196);
    padding: 10px;
     

}
ul {
    list-style:disc;
    padding-left:40px;
  }
li{
    padding:10px 0px 0px 0px;
}

/* Clear floats after the columns */
/*after selector inserts something after the content of each selected element*/
section:after {
    content: "";
    display: table;
    clear: both;
  margin:100px 50px 150px 50px
       
}

/* Style the footer */
footer {
    background-color: rgb(208, 209, 186);
    padding:10px 10px 10px 0px;
    text-align: center;
    color: white;
    width:70%;
    float:right;
    margin:460px 0px 0px 0px

}
body {
    overflow:hidden
    }

    #userid{
        float:left;
    }
h2{
    margin-left:-600px
    
}