body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:#f0f0f1;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 10px 0px 10px 0px;   
  }

  p{
    font-size:12px;
    text-decoration: none;
    color:#f0ecec;

  }
  b{
    margin:0px -8px 0px 10px;
  }
  
  #h1{
      padding:0px 0 0 0;
    font-size:2.5em;
    color:#f8f0f0;
    margin-left: 50px;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-right: 40px;

    text-align: center;
  }
  
  .box{
    background:#3B5998;
    width:480px;
    height:350px;

    /* border-radius:10px 10px 10px 10px; */
    margin: 0 auto 0 auto;
    padding:50px 50px 30px 50px;
    border: #85720a 1px solid; 
    margin-top: 120px;
    /* box-shadow: goldenrod; */
    
  }
  .email{
    border-radius:4px;
    background:#ecf1ee;
    border: #ccc 5px solid;
    padding: 20px;
    width:250px;
    height: 5px;
    font-size:1.2em;
    margin: 10px -30px 20px 10px;

  }
  
  
  
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 5px solid;
    padding: 20px;
    width:250px;
    height: 5px;
    font-size:1.2em;
    margin: 10px -5px 20px 10px;

  }
  
  .button1{
    background:#f1f7f3;
    width:125px;
    /* padding-top:5px; */
    /* padding-bottom:5px 5px 5px 5px; */
    padding: 15px 15px 15px 15px;

    color:#3B5998;
    /* border-radius:40px; */
    border: #e5ece8 1px solid;
    
    margin:20px 20px 20px 20px;

    float:left;
    font-weight:800;
    font-size:1.0em;
  }
  
  .button1:hover{
    background:rgb(231, 167, 199); 
  }
  
  .button2{
    float:left;
    background:#f2f5f7;
    width:125px; 
    height:4px;
     /* padding-top:15px; */
    /* padding-bottom:15px; */
    padding: 15px 15px 30px 15px;
    color:#3B5998;
    /* border-radius:40px; */
    border: #7f59da 1px solid;
    margin:20px 20px 20px 20px;
    
    font-weight:800;
    font-size:1.0em;
  }
  
  .button2:hover{ 
  background:rgb(212, 194, 231); 
  }
 
#h2{
  padding: 60px;
}