 /********************************Registration form****************************/
 h1{
    color:#3B5998;
    font-size:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    /* text-decoration-color: rgb(96, 51, 107); */
    /* margin:0 auto 50px auto; */
    margin:20px 420px 30px 412px;

  }
  .registration form {
    margin:-18px 50px 50px 500px;
    width: 420px;
    height:530px;
    position: relative;
    background-color:#3B5998;
    padding: 48px 20px 50px 30px;
    /* border-radius: 50px 50px 50px 50px; */
    color: white;
    text-transform: uppercase; 
    font-size: 13px;
    font-weight: bold;
    font-family: "Century Gothic";
  
  }
  
  .registration input, .registration select {
    width: 350px;
    height: 30px;
    margin: 18px 10px 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    padding:0px 0px 0px 10px;

  }
  
  .registration input:focus {
    background-color: rgb(240, 237, 231);
  }
  
  .registration form label {
    margin: 5px 5px 5px 5px;
  }
  
 /* a {
    outline: none;
  }*/
  
  .register_button {
    width: 100px;
    height: 6px;
    background-color: rgb(244, 245, 244);
    border-radius: 20px;
    margin: -5px 50px 100px 15px;
    padding:10px 10px 20px 10px;
    text-align: center;
    cursor: pointer;
    /* clear: both; */
    font-size: 1.0em;
  }
  /*select any element with this class name*/
  .register_button span {
    font-weight: bold;
    font-size: 16px;
    font-family: "Impact";
    line-height: 10px;
  }
  .register_button span a {
   text-decoration: none;
    color:#3B5998;
    /* padding:-25px 10px 10px 10px; */
  }
  .register_button span a:hover {
    color: rgb(21, 10, 77);
  }
  /*select any span*/
  span.sample {
    margin-right: 120px;
    font-size: 9px;
    color: rgb(104, 30, 8);
    height: 10px;
  }
  /*select any p*/
  p.sample {
    margin: 0px 14px 0px 10px;
    font-size: 9px;
    color: orange;
    height: 6px;
    padding: 10px 10px 8px 10px;
    text-align: right;
    /* text-transform: none; */
  }
  
  h5{
    padding-top:-60px -10px 0px 0px;
  font-size:1.0em;
  color:rgb(241, 241, 248);
  margin:10px 120px 10px 80px;
}
#signin{
  float :right;
  margin:-180px -10px 10px 110px ;
  font-size: 1.1em;
  color: white;
}