<div>
    <header>
        <h2>ChatApp</h2>
    </header>

    <section>
        <nav>
            FriendsList
        
        <!-- <button> <div ng-click='home()' value="FriendsList" name="FriendsList">FriendsList</div></button> -->

        <div>
            <div id="userid">
              <ul>  <li ng-repeat="key in friendsarrlist " >
                 
                    {{key}}  </li></ul>
            </div>
        </div>

    </nav>


        <footer>
            <button style="float:right">send</button>
        </footer>

    </section>
</div>