<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login-form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" media="screen" href="../assets/main.css" />
   <script src ="app.js"></script>
</head>
<body>

         

<form >
                <h5>{{message}}</h5>



<div class="box">
<h1 style ="font-family:'Times New Roman', Times, serif"><b>CHATAPP</b></h1>
<br>
<div>
<label><b>Email-Id:</b> </label>
<input type="email" name="email" placeholder="Enter your email "ng-model="user.email" required class="email"  /></div>
<div>
        <label><b>Password:<b></label>
  
<input type="password" name="email" placeholder="Enter your password " ng-model="user.password" required  class="password"  /></div>

  
<a href="#"><div class="button1" ng-click='login()' value="login">Login</div></a>

<a href="#!/register"><div class="button2" >SignUp</div></a> 





</div> 
  
</form>


</body>
</html>

