
  <div>
    <div>
      <h1 style="padding:0px 1px 10px 10px"> Registration Form</h1>
    </div>

    

    <div class="registration">
      <form name="form1">
        <label>Firstname</label>
        <input type="text" name="firstname" placeholder="Enter your first name " ng-model="user.firstname"    maxlength="60" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" required />
        <span style="color:red" ng-show="form1.firstname.$dirty && form1.firstname.$invalid" class="ng-hide">   
            Please Enter Valid  Name.!  
           </span> 
        <p class="sample"></p>

        <label>Lastname</label>
        <input type="text" name="lastname" placeholder="Enter your last name " ng-model="user.lastname"   maxlength="60" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" required/>
        <span style="color:red" ng-show="form1.lastname.$dirty && form1.lastname.$invalid" class="ng-hide">   
            Please Enter Valid  Name.!  
           </span> 
        <p class="sample"></p>


        <label>Password</label>
        <input type="password" name="password" placeholder="Enter the password" ng-model="user.password" required />
        <p class="sample">
        </p>

        <label>Mobile Number</label>
        <input type="number" name="mobilenumber" placeholder="Enter your mobile number" ng-model="user.mobilenumber" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" required />
        <span style="color:red" ng-show="form1.mobilenumber.$dirty && form1.mobilenumber.$invalid" class="ng-hide">   
            Please Enter Valid  Mobile Number!  
            </span> 
        <p class="sample">
        </p>

        <label>email-id</label>
        <input type="text" name="email" placeholder="Enter your email-id " ng-model="user.email" maxlength="100"  ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" required />
        <span style="color:red" ng-show="form1.email.$dirty && form1.email.$invalid" class="ng-hide">   
            Please Enter Valid  Email.!  
            </span>
        <p class="sample">
        </p>


        <div class="register_button" ng-click='register()' value="register">
          <span><a href>REGISTER</a></span>
          </div>
          
          <!-- <button ng-click='register()'>Register</button> -->

          <!-- <a href="#"><div class="button1"  value="login">Login</div></a> -->

         <!-- <div class="register_button1" ng-click="display1()" value="display1"> -->
       <div id="signin">   <br><br><br> <div> <span>Already registered then..<a href="#">Signin</a></span></div>

        &nbsp;
       <div><h5 align="right">{{message}}</h5></div>
        </div>
      </form>


    </div>
  </div>
